<div class="dashboard-wysiwyg-editor-component-container">
    <div *ngIf="!blogpost">
        <bouncing-loader *ngIf="!posts"></bouncing-loader>
    </div>
    <div [hidden]="!blogpost">
        <div *ngIf="blogpost">
            <input type="text" [(ngModel)]="blogpost.title" class="form-control post-title" placeholder="Title">
        </div>
        <form [formGroup]="form">
            <quill-editor #editor formControlName="editor"></quill-editor>
        </form>
        <div *ngIf="blogpost">
            <div class="d-flex editor-control">
                <p class="text-muted">
                    Last autosave: {{lastAutosave}}
                </p>
                <div class="editor-buttons">
                    <button class="btn btn-danger">
                        <i class="fa fa-trash-o fa-lg"></i> Delete
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#postPreviewModal">
                        <i class="fa fa-eye fa-lg"></i> Preview
                    </button>
                    <button (click)="publishPost()" type="button" class="btn btn-primary">
                        <i class="fa fa-book fa-lg"></i> Publish
                    </button>
                </div>
            </div>
        </div>
        <h3>Raw view</h3>
        {{form.controls.editor.value}}

        <div class="modal fade" id="postPreviewModal" tabindex="-1" role="dialog" aria-labelledby="postPreviewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postPreviewModalLabel">Page Preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{postTitle}}
                        <div [innerHTML]="form.controls.editor.value"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>