.dashboard-wysiwyg-editor-component-container {
    .editor-control {
        margin: 1em 0;
        justify-content: space-between;
    }

    .post-title {
        font-size: 3em;
        border: 0;
    }
}