.blogpost-container-wrapper {
  .blogpost-title {
    font-size: 3em;
  }

  /* Does not work! */
  .blogpost-body {
    .ql-size-small {
      font-size: 0.75em;
    }

    .ql-size-large {
      font-size: 1.5em;
    }

    .ql-size-huge {
      font-size: 2.5em;
    }
  }

  .blogpost-footer {

    .blogpost-sharing {
      .share-button {
        font-size: 2em;
        cursor: pointer;
      }

      .share-button:focus {
        box-shadow: none;
        // outline: none;
      }
    }
  }
}