.blogpost-container-wrapper {
    .blogpost-title {
        font-size: 3em;
    }

    .blogpost-body {
        flex-direction: column;

        .font-size-small {
            font-size: 0.8em;
        }

        .font-size-large {
            font-size: 1.2em;
        }

        .font-size-huge {
            font-size: 1.4em;
        }
    }

    .blogpost-footer {

        .blogpost-sharing {
            .share-button {
                font-size: 2em;
                cursor: pointer;
            }

            .share-button:focus {
                box-shadow: none;
                // outline: none;
            }
        }
    }
}