<div class="container blogpost-container-wrapper">

  <div class="blogpost-title">
    {{blogpost.title}}
  </div>

  <hr>
  {{blogpost.id}}
  <div class="blogpost-body" [innerHTML]="blogpost.content">
  </div>

  <br>

  <div class="blogpost-footer">
    <div class="blogpost-tags text-muted">
      <span *ngFor="let tag of tags" class="blogpost-tag">tags</span>
    </div>
    <div class="blogpost-sharing">
      <br>
      <button class="btn btn-outline-secondary share-button">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </button>
      <button class="btn btn-outline-secondary share-button">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </button>
      <button class="btn btn-outline-secondary share-button">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </button>
    </div>
  </div>

</div>