<div class="post-container-wrapper">
    <input type="text" [(ngModel)]="postTitle" class="form-control post-title" id="postTitle" placeholder="Title">

    <div class="d-flex editor-control">
        <p class="text-muted">{{lastAutoSave}}</p>
        <div class="editor-buttons">
            <button class="btn btn-danger">
                <i class="fa fa-trash-o fa-lg"></i> Delete
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-eye fa-lg"></i> Preview
            </button>
            <button type="button" class="btn btn-primary">
                <i class="fa fa-book fa-lg"></i> Publish
            </button>
        </div>
    </div>
    <h3>Parsed view</h3>
    {{postTitle}}
    <div [innerHTML]="editorContent"></div>
    <h3>Raw view</h3>
    {{editorContent}}
</div>