<div class="dashboard-posts-component-wrapper">
  <div>
    <bouncing-loader *ngIf="!blogposts"></bouncing-loader>
    <div *ngIf="blogposts">
      <h2>Published Blogposts</h2>
      <div *ngFor="let blogpost of blogposts">
        <div class="">
          {{blogpost.title}}
          <div class="">
            <button class="btn btn-secondary">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
          </button>
            <button class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>